 <tr>
      	<td><%= link_to fact.id, admin_fact_path(fact) %></td>
        <td><%= fact.fact_string.truncate(40) %></td>
        <td><%= fact.created_at.strftime("%d %b. %Y") %></td>
        <td><%= fact.impressionist_count %></td>
        <td>
          <%= simple_form_for(fact, :url => admin_fact_path(fact)) do |f| %>
      			<%= f.check_box :displayed %>
      			<%= f.submit 'change status', :class => 'btn btn-primary btn-sm' %>
      		<% end  %>
      	</td>
        <td><%= link_to 'edit', edit_admin_fact_path(fact), { :class=>"btn btn-primary" } %>
        <%= link_to 'destroy', fact, :class => 'btn btn-danger', method: :delete, data: { confirm: 'are you sure?' } %></td>
</tr>
