<!DOCTYPE html>
<html lang="en">
<head>
  <title>quizzle.me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= metamagic %>
</head>
<body>

<div id="wrapper">

        <header class="navbar navbar-default navbar-static-top" role="banner">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                  quizzle
              </a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
              <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                    <li><%= link_to 'admin', admin_homes_path %></li>
                    <li><%= link_to 'facts', admin_facts_path %></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">users <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><%= link_to 'user admin', admin_users_path %></li>
                            <li><%= link_to 'newsletter', admin_newsletters_path %></li>
                          </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">device <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><%= link_to 'devices', admin_devices_path %></li>
                            <li><%= link_to 'notifications', admin_notifications_path %></li>
                          </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">personal <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><%= link_to 'edit account', edit_user_registration_path %></li>
                            <li><%= link_to 'sign out', destroy_user_session_path, :method=>'delete' %></li>
                          </ul>
                    </li>
              <% else %>
                   <li><%= link_to 'home', admin_facts_path %></li>
                   <li><%= link_to 'sign in', new_user_session_path %></li>
                   <li><%= link_to 'sign up', new_user_registration_path %></li>
              <% end %>
              </ul>
            </nav>
          </div>
        </header>


	 <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="col-lg-12">


    <%= flash_messages %>

	<%= yield %>

                    </div>


                </div>
            </div>
        </div>
</div>

</body>
</html>
